{erl_opts, 
	[
		no_debug_info,
		{i, "include"},
		{src_dirs, ["src"]},
		fail_on_warning, 
		debug_info
	]}.

{deps, 
	[
		{gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}}
	]}.


{show_cmd, true}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, 
	[
		verbose,
		{report, {eunit_surefire, [{dir, "."}]}}
	]}.

